<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>KisKosár</title>
        <link rel="stylesheet" type="text/css" href="./static/index.css" />
    </head>
    <body>
        <div class="main">
            <div id="cart">
                <img src="cart.png" alt="Cart" />
            </div>
            <h1>Üdvözöljük a KisKosár Corp. weboldalán!</h1>
            <div id="text_and_links">
                <ul>
                    <li><a th:href="@{/suppliers}">Beszállítók</a></li>
                    <li><a th:href="@{/products}">Termékek</a></li>
                </ul>
                <blockquote>
                    <p>
                        Cégünk 2000-ben kezdte működését. Azóta több nagy beszállító partnerrel is szerződést kötöttünk. Ennek köszönhetően rendkívül széles termék palettával rendelekezünk. Olyan nagy hátterű cégekkel állunk kapcsolatban
                        mint,a Nimfas Corp. és a Coimbra's Corp. Tekintse meg termékeinket,és mi biztosíthatjuk,hogy árainkban és termékeink minőségében nem fog csalódni. "Mert KisKosár,mindenből a legjobbat egy helyen !"
                    </p>
                </blockquote>
            </div>
        </div>
    </body>
</html>
